#eventpage {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 3rem;

    & .info-container {
        padding-inline: 0.5rem;
        width: 100%;

        & .event-about {
            display: grid;
            grid-template-areas:
                "title title"
                "info  img  ";
            grid-auto-columns: 1fr;
            gap: var(--gap);

            & .event-about__title {
                text-align: center;
                grid-area: title;
            }

            & .event-about__info-wrapper {
                grid-area: info;
                justify-content: space-between;

                & .event-about__link {
                    align-self: flex-end;
                }
            }

            & .event-about__figure {
                grid-area: img;
            }
        }

        & .event-sponsors {
            gap: var(--gap);
            width: 100%;

            & .event-sponsors__figure {
                display: flex;
                justify-content: space-between;
                width: 100%;

                & .event-sponsors__img {
                    width: 200px;
                }
            }
        }

        & .traino-funnel,
        & .featured-product {
            gap: var(--gap);
        }
    }
}

.video-container {
    gap: 2rem;
}

@media (max-width: 1000px) {
    #eventpage {
        & .video-container {
            padding-inline: 1rem;

            & h1.video-container__title {
                height: 8rem;
            }

            & .video-container__subtitle {
                font-size: 1.5rem;
            }
        }

        & .info-container {
            & .event-about {
                grid-template-areas:
                    "title"
                    "img  "
                    "info ";

                & .event-about__title {
                    text-align: center;
                    grid-area: title;
                }

                & .event-about__info-wrapper {
                    gap: var(--gap);

                    & .event-about__text {
                        text-align: center;
                    }

                    & .event-about__link {
                        align-self: center;
                    }
                }
            }

            & .event-sponsors {
                & .event-sponsors__figure {
                    flex-direction: column;
                    align-items: center;
                    gap: var(--gap);
                }
            }
        }
    }
}
