#manage-faqs-page {
    gap: var(--gap);
    padding-block: var(--main-block-padding) 8rem;
    min-height: 100vh;
    text-align: center;

    & .faq-list {
        gap: var(--large-gap);
        width: 100%;

        & .faq-wrapper {
            display: flex;
            flex-direction: column;
            gap: var(--gap);
            align-items: center;

            & .faq-buttons {
                display: flex;
                justify-content: center;
                gap: 5rem;
                width: 80%;
            }
        }
    }

    & .manage-faqs__add-link {
        position: fixed;
        bottom: 2rem;
    }
}

@media (max-width: 1000px) {
    #manage-faqs-page {
        margin-inline: 0.5rem;

        & .faq-list {
            & .faq-wrapper {
                & .faq-buttons {
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                }
            }
        }
    }
}