.accordion {
    width: 80%;
    cursor: pointer;
    padding: 2rem;
    text-align: left;
    border-radius: 15px;

    & .accordion-panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;

        & .accordion__text {
            font-size: x-large;
            font-weight: 300;
            padding-left: 3rem;
            margin-top: 1rem;
        }
    }

    .dropdown {
        max-height: 2000px;
    }

    & .accordion__heading {
        display: flex;
        align-items: center;
        gap: var(--gap);
        font-weight: normal;

        & .accordion__image {
            width: 2rem;
        }
    }
}

@media (max-width: 500px) {
    .accordion {
        max-width: 90%;
        padding: 1rem;

        & .accordion__heading {
            font-size: large;
    
            & .accordion__image {
                width: 1rem;
            }
        }

        & .accordion-panel {
            & .accordion__text {
                font-size: large;
                padding-left: 2rem;
            }
        }
    }
}