.accordion {
    cursor: pointer;
    padding: 2rem;
    text-align: left;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);

    & .accordion-panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;

        & .accordion__text {
            font-size: large;
            font-weight: 400;
            padding-left: 3rem;
            margin-top: 1rem;
        }
    }

    .dropdown {
        max-height: 2000px;
    }

    & .accordion__heading {
        display: flex;
        align-items: center;
        gap: var(--gap);
        font-weight: 600;

        & .accordion__image {
            width: 2rem;
        }
    }
}

@media (max-width: 500px) {
    .accordion {
        padding: 1rem;

        & .accordion__heading {
            font-size: large;

            & .accordion__image {
                width: 1rem;
            }
        }

        & .accordion-panel {
            & .accordion__text {
                font-size: large;
                padding-left: 2rem;
            }
        }
    }
}

.accordion:hover {
    outline: 4px solid var(--maincolor);
}

.accordion:hover .accordion__heading {
    color: var(--maincolor);
}
