#admin-header {
    .admin-header-nav {
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        
        #hamburger {
            display: none;
        }

        & .admin-header-list {
            display: flex;
            justify-content: flex-end;
            list-style: none;
    
            & .admin-header-list__element {
                text-transform: uppercase;
                font-family: "Inter", sans-serif;
                font-weight: bold;
    
                & a {
                    display: block;
                    padding: 1.5rem;
    
                    &:hover {
                        color: var(--maincolor);
                    }
                }
            }
    
            .active {
                color: var(--mainpurple);
            }
        }
    }
}

@media (max-width: 800px) {
    #admin-header {
        .admin-header-nav {
            display: block;
            margin-top: 4.5rem;

            & .admin-header-list {
                display: none;
                width: 100%;
                background: var(--white);
                text-align: center;
                z-index: 120;
            }
    
            .showmenu {
                display: inline-table;
                position: absolute;
            }
    
            #hamburger {
                display: block;
                position: absolute;
                cursor: pointer;
                top: 15px;
                right: 0;
                width: 3rem;
            }
        }
    }
}