#admin-header {
    background-color: var(--white);
    z-index: 1000;
    display: flex;

    & .admin-header-nav {
        display: flex;
        justify-content: flex-end;
        width: 100vw;

        & #hamburger {
            display: none;
        }

        & .admin-header-list {
            display: flex;
            justify-content: flex-end;
            list-style: none;

            & .admin-header-list__element {
                text-transform: uppercase;
                font-family: "Inter", sans-serif;
                font-weight: bold;

                & a {
                    display: block;
                    padding: 1.5rem;
                    border-bottom: 4px solid transparent;

                    &:hover {
                        color: var(--maincolor);
                    }
                }
            }

            & .active {
                border-bottom: 4px solid var(--black);
                color: var(--mainpurple);
            }
        }
    }
}

@media (max-width: 1300px) {
    #admin-header {
        --top-offset: 4.4rem;
        height: var(--top-offset);

        & .admin-header-nav {
            display: block;
            position: relative;
            height: var(--top-offset);
            top: 0;
            background-color: var(--white);

            & .admin-header-list {
                display: none;
                width: 100%;
                background: var(--white);
                text-align: center;
                z-index: 120;

                .active {
                    border-bottom: none;
                }
            }

            & .showmenu {
                display: inline-table;
                position: fixed;
                top: var(--top-offset);
            }

            & .nav-backdrop {
                position: fixed;
                top: var(--top-offset);
                left: 0;
                width: 100%;
                height: 100%;
                backdrop-filter: brightness(0.4);
            }

            & #hamburger {
                display: block;
                position: absolute;
                cursor: pointer;
                top: 12px;
                right: 12px;
                width: 3rem;
                z-index: 121;
            }
        }
    }
}
