.event-card {
    & a:hover {
        color: rgb(var(--foreground-rgb));
    }

    & .event-card__figure {
        overflow: hidden;
        border-radius: var(--radius);

        & .event-card__image {
            transition: all 0.3s ease-out;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;

            &:hover {
                scale: 1.1;
                animation: flash 0.2s ease-out;
            }
        }
    }

    & .event-card__headings {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
    }
}
