#footer {
    color: var(--white);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;

    & .footer-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-inline: auto;
        padding-block: 1rem;

        & .link-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        & .event-links {
            width: fit-content;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            & .event-links__wrapper {
                display: grid;
                grid-template-rows: repeat(5, 1fr);
                grid-auto-flow: column;
                gap: 0.5rem 2rem;
            }
        }

        & .socials {
            & .socials__links-wrapper {
                display: flex;
                gap: 0.5rem;
                margin-top: 0.5rem;

                & .social-icon {
                    width: 2rem;
                    height: 2rem;
                    background-color: var(--white);
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    mask-position: center;

                    &:hover {
                        filter: brightness(0.7);
                    }

                    &.social-icon--facebook {
                        mask-image: url("../assets/facebook_icon.svg");
                    }

                    &.social-icon--instagram {
                        mask-image: url("../assets/instagram_icon.svg");
                    }

                    &.social-icon--twitter-x {
                        mask-image: url("../assets/twitter_x_icon.svg");
                        mask-size: 80%;
                    }

                    &.social-icon--linkedin {
                        mask-image: url("../assets/linkedin_icon.svg");
                    }
                }
            }
        }
    }

    & .copyright {
        padding-block: 1rem;
    }
}

@media (max-width: 1000px) {
    #footer {
        & .footer-container {
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            & .link-wrapper {
                align-items: center;
            }

            & .event-links {
                & .event-links__wrapper {
                    align-items: center;
                    justify-items: center;
                    max-height: none;
                    grid-auto-flow: row;
                }
            }

            & .socials {
                display: flex;
                flex-direction: column;
                align-items: center;

                & .socials__links-wrapper {
                    display: flex;
                    gap: 0.5rem;
                }
            }
        }
    }
}
