.product-card {
    width: 18rem;
    position: relative;

    & .product-card__button {
        position: absolute;
        width: fit-content;
        right: 1rem;
        bottom: 1rem;
        padding: 0.4rem 0.8rem;
        color: var(--white);
        font-weight: bold;
        background: var(--mainpurple);
        border-radius: 99px;
        transition: var(--btn-transition);

        &:hover {
            scale: 1.05;
            filter: brightness(0.9);
        }
    }
}