.product-card {
    display: flex;
    flex-direction: column;
    width: 18rem;

    & .product-card__button {
        position: relative;
        width: fit-content;
        align-self: flex-end;
        right: 10%;
        bottom: 10%;
        padding: 0.4rem 0.8rem;
        color: var(--white);
        font-weight: bold;
        background: var(--mainpurple);
        border-radius: 99px;
    }
}