.sponsor-card-link {
    &:hover {
        color: inherit;
        scale: 1.01;
        filter: brightness(0.9);
    }

    & .sponsor-card {
        display: flex;
        background-color: var(--white);

        & .sponsor-card__figure {
            width: 100%;
            display: flex;

            & img {
                border-radius: var(--radius) 0 0 var(--radius);
                object-fit: cover;
                object-position: center;
            }
        }

        & .sponsor-card-wrapper {
            gap: var(--gap);
            padding: 1rem;
        }
    }
}

@media (max-width: 800px) {
    .sponsor-card-link {
        & .sponsor-card {
            flex-direction: column;

            & .sponsor-card__figure {
                & img {
                    border-radius: var(--radius) var(--radius) 0 0;
                    height: 16rem;
                }
            }
        }
    }
}
