.sponsor-card {
    display: flex;

    & .sponsor-card__figure {
        width: 100%;
        display: flex;

        & img {
            border-radius: var(--radius) 0 0 var(--radius);
            object-fit: cover;
            object-position: center;
        }
    }

    & .sponsor-card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
}

@media (max-width: 800px) {
    .sponsor-card {
        flex-direction: column;

        & .sponsor-card__figure {
            & img {
                border-radius: var(--radius) var(--radius) 0 0;
                height: 16rem;
            }
        }
    }
}
