.sponsor-card-link {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: var(--big-radius);
    overflow: hidden;

    &:hover button {
        background: var(--mainpurple);
    }

    & .sponsor-card {
        display: flex;
        background-color: var(--white);

        & .sponsor-card__figure {
            width: 100%;
            display: flex;
            margin: 1rem;
            flex: 1;

            & img {
                border-radius: var(--radius);
                object-fit: cover;
                object-position: center;
            }
        }

        & .sponsor-card__title {
            font-size: 2rem;
        }

        & .sponsor-card-wrapper {
            gap: var(--gap);
            padding: 1rem;
            flex: 3;
            justify-content: space-between;
        }

        & .sponsor-card__discounts {
            display: flex;
            gap: 3rem;
        }
    }
}
.sponsor-card-link:hover .sponsor-card__title {
    color: var(--maincolor);
}

.sponsor-card-link:hover p {
    color: black;
}

@media (max-width: 800px) {
    .sponsor-card-link {
        & .sponsor-card {
            flex-direction: column;

            & .button {
                align-self: center;
            }

            & .sponsor-card__figure {
                & img {
                    border-radius: var(--radius) var(--radius) 0 0;
                    height: 16rem;
                }
            }
        }
    }
}
