.video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(320px, 325px, 484px), 1fr));
    gap: var(--gap);
    width: 100%;
    justify-items: center;

    & video {
        width: 100%;
    }
}