#winnerCard {
    gap: var(--small-gap);
    border-radius: 40px;
    background-color: var(--white);
    padding: 1rem 1.4rem;
    box-shadow: 4px 6px 10px var(--shadow-color);

    & .winnerCard-placement {
        position: relative;
        width: 15rem;
        height: 15rem;
        top: -15px;
        scale: 1.1;
        margin-bottom: 0.5rem;
    }

    & :is(.gold, .silver, .bronze) {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 6px var(--shadow-color));
    }

    & .gold {
        background-image: url("/medals/medal_gold.png");
    }

    & .silver {
        background-image: url("/medals/medal_silver.png");
    }

    & .bronze {
        background-image: url("/medals/medal_bronze.png");
    }

    & .winnerCard-name-wrapper {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        overflow-wrap: break-word;
        max-width: 240px;
    }

    & .winnerCard-city {
        font-style: italic;
    }

    & .winnerCard-competition {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--white);
        text-align: center;
        width: fit-content;
        padding: 0.4rem 2rem;
        border-radius: 50px;
        background: linear-gradient(to right, var(--mainpurple) -10%, var(--maincolor) 30%, rgb(199, 106, 241) 120%);
        filter: drop-shadow(0 6px 8px var(--maincolor));
        margin-block: 1rem 2rem;
    }

    & p {
        margin: auto;
    }
}
