#winnerCard-wrapper {
    padding: 4rem 2rem 0 2rem;
    text-align: center;
    background-color: var(--white);

    & #winnerCard {
        width: 220px;
        height: 350px;
        border-radius: var(--radius);
        background-color: var(--white);

        & .winnerCard-placement-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -40px;
            border-radius: 100%;
            width: 8rem;
            height: 8rem;

            & .winnerCard-placement {
                align-content: center;
                font-weight: bold;
                font-size: 4rem;
                border-radius: 100%;
                width: 7rem;
                height: 7rem;
            }

            & .gold {
                background-color: #ffcb22;
            }

            & .silver {
                background-color: #c8c8c8;
            }

            & .bronze {
                background-color: #ff8922;
            }
        }

        & .winnerCard-name-wrapper {
            justify-content: center;
            position: relative;
            color: var(--white);
            background-color: var(--maincolor);
            width: 115%;
            height: 5rem;
            border-radius: var(--radius);
            margin-bottom: 2rem;
        }

        & .winnerCard-competition {
            font-weight: normal;
            padding: 1rem;
        }
    }
}
