#merchpage {
    padding-block: var(--main-block-padding);

    & .merch__gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        gap: 2rem;
        width: 100%;
    }
}

@media (max-width: 1600px) {
    #merchpage {
        & .merch__gallery {
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        }
    }
}