#merchpage {
    padding-block: var(--main-block-padding);

    & .merch__gallery {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}