#merchpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    & .merch__title {
        margin-top: 5rem;
    }

    & .merch__gallery {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}