#sponsorspage {
    margin-inline: auto;
    padding-block: var(--main-block-padding);

    & .sponsors {
        gap: var(--gap);

        & .sponsors__title {
            text-align: center;
        }
    }

    & .sponsor-event {
        gap: var(--gap);
        width: 100%;

        & .sponsor-event__cta {
            font-style: italic;
        }

        & .sponsor-event__form {
            display: flex;
            flex-direction: column;
            gap: var(--gap);
            width: 80%;

            & .input-wrapper {
                & label::after {
                    content: "*";
                }
            }

            & .sponsor-event__submit {
                align-self: flex-end;
            }
        }
    }
}

@media (max-width: 1000px) {
    #sponsorspage {
        margin-inline: 0.5rem;
    }
}