#sponsorspage {
    margin-inline: auto;
    padding-block: var(--main-block-padding);

    & .sponsors {
        width: 100%;
        gap: var(--large-gap);

        & .sponsors__title {
            text-align: center;
        }
    }

    & .sponsor-event {
        width: 100%;
        border-radius: var(--big-radius);
        background: linear-gradient(45deg, #110637, #8468ea);
        padding: 6rem 10rem;
        color: var(--white);

        & .heading-size {
            padding-bottom: 3rem;
        }

        & .sponsor-event__form {
            max-width: 20rem;
            justify-content: center;
            gap: var(--gap);
            width: 80%;
            display: flex;
            flex-direction: column;

            & .input-wrapper {
                width: 100%;
            }

            & input {
                border: none !important;
            }

            & label {
                font-weight: 500;
                display: block;
                margin-bottom: 0.5rem;

                &::after {
                    content: "*";
                }
            }

            & .sponsor-event__submit {
                align-self: flex-end;
            }
        }
    }
}

@media (max-width: 1000px) {
    #sponsorspage {
        margin-inline: 0.5rem;
    }
}

@media (max-width: 800px) {
    #sponsorspage {
        & .sponsor-event {
            padding: 6rem 0.5rem;
        }
    }
}