#edit-event-page {
    gap: var(--gap);
    padding-block: var(--main-block-padding);

    & .edit-event-page__title {
        text-align: center;
    }

    & .edit-event-form {
        gap: var(--gap);

        & .input-wrapper {
            display: flex;
            flex-direction: column;
            gap: var(--small-gap);

            & label:not(.checkbox):after {
                content: "*";
            }
        }

        & .checkbox-wrapper {
            display: flex;
            align-self: flex-start;
            gap: 1rem;

            & label {
                min-width: fit-content;
            }
        }

        & .edit-event-form__buttons {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1000px) {
    #edit-event-page {
        margin-inline: 0.5rem;
    }
}

@media (max-width: 600px) {
    #edit-event-page {
        & .edit-event-form {
            & .edit-event-form__buttons {
                flex-direction: column;
                gap: 2rem;
                align-items: center;
            }
        }
    }
}