#winnerspage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    & .winners__title {
        margin-top: 5rem;
    }

    & .winner-podium {
        display: flex;
        flex-direction: column;
        margin: 5rem 0;

        & .winner-podium__image {
            width: revert-layer;
        }

        & .winner-podium__winner {
            align-self: center;
        }

        & .winner-podium__second {
            margin-left: 2rem;
        }

        & .winner-podium__third {
            align-self: flex-end;
            margin-right: 2rem;
        }
    }

    & .participants-list {
        & .participants-list__heading, .participants-list__row {
            & .mobile-heading {
                background-color: #7252e7;
                color: var(--white);
            }

            & .winners-wrapper {
                width: 70%;
                display: flex;
                justify-content: space-between;
            }
        }

        & .mobile-heading, .mobile-row {
            display: none;
        }
    }

    & .event-video-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & .event-video-gallery__title {
            text-align: center;
            margin: 2rem 0;
            font-size: 40px;
        }
    }
}

@media (max-width: 1000px) {
    #winnerspage {
        margin: 0 1rem;

        & .participants-list {
            width: 100%;
        }
    }
}


@media (max-width: 700px) {
    #winnerspage {

        & .winner-podium {
            & .winner-podium__image {
                width: 21rem;
            }
        }

        & .participants-list {
            & .participants-list__heading {
                display: none;
            }

            & .mobile-heading {
                display: flex;
                margin: 0 1rem;
            }

            & .participants-list__row {
                flex-direction: column;
    
                & .winners-wrapper {
                    flex-direction: column;
                    width: 100%;
                }

                & .list-row-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                & .mobile-row  {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0;
                    margin: 0.2rem 0;
                    font-weight: bold;

                    & > * {
                        font-weight: normal;
                        margin-left: 0.5rem;
                        text-align: right;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #winnerspage {
        & .participants-list {
            & .participants-list__row {
                font-size: 24px;
            }
        }
    }
}