#winnerspage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    & .winners__title {
        margin-top: 5rem;
    }

    & .winners-list {
        width: 70%;

        & .winners-list__heading, .winners-list__row {
            display: flex;
            justify-content: space-between;
            border-radius: 15px;
            padding: 0.5rem 2rem;
            font-size: 2rem;
        }
    
        & .winners-list__heading {
            background-color: #7252e7;
            color: var(--white);
        }
    
        & .winners-list__row {
            margin: 1rem 0;
        }
    }

    & .event-video-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & .event-video-gallery__title {
            text-align: center;
            margin: 2rem 0;
            font-size: 40px;
        }
    }
}