#winnerspage {
    padding-block: var(--main-block-padding);

    & .participants-list {
        & .participants-list__row {
            margin: 0.4rem 0;
            background: white;
            box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
        }

        & .participants-list__heading,
        & .participants-list__row {
            & .mobile-heading {
                background-color: #7252e7;
                color: var(--white);
            }

            & .winners-wrapper {
                width: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        & .mobile-heading,
        & .mobile-row {
            display: none;
        }
    }

    & .event-video-gallery {
        width: 100%;

        & .event-video-gallery__title {
            text-align: center;
            margin: 2rem 0;
        }
    }
}

@media (max-width: 1000px) {
    #winnerspage {
        margin: 0 1rem;

        & .participants-list {
            width: 100%;
        }
    }
}

@media (max-width: 700px) {
    #winnerspage {
        & .participants-list {
            & .participants-list__heading {
                display: none;
            }

            & .mobile-heading {
                display: flex;
                padding: 0.5rem 1rem;
                justify-content: center;
            }

            & .participants-list__row {
                flex-direction: column;
                padding: 0.5rem 1rem;
                font-size: 1.4rem;

                & .winners-wrapper {
                    flex-direction: column;
                    width: 100%;
                    align-items: inherit;

                }

                & .list-row-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & .participants-list__name {
                        text-align: end;
                    }
                }

                & .mobile-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0;
                    margin: 0.2rem 0;
                    font-weight: bold;

                    & > * {
                        font-weight: normal;
                        margin-left: 0.5rem;
                        text-align: right;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #winnerspage {
        padding: 0;
        & .participants-list {
            & .participants-list__row {
                font-size: 1.1rem;
            }
        }
    }
}
