#rulespage {
    padding-block: var(--main-block-padding);

    & .rule-wrapper {
        display: flex;
        gap: var(--large-gap);
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        & .rule__number {
            width: 1rem;
            font-size: 24px;
        }

        hr {
            border: 1px solid;
            height: 4rem;
        }

        & .rule-number-wrapper {
            display: flex;
            gap: var(--large-gap);
            align-self: flex-start;
            align-items: center;
        }

        & .rule__text {
            align-self: flex-start;
        }
    }
}