#rulespage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    .rules__title {
        margin-top: 5rem;
    }

    .rule-wrapper {
        display: flex;
        gap: 2rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        .rule__number {
            width: 1rem;
            font-size: 24px;
        }

        hr {
            border: 1px solid;
            height: 4rem;
        }

        .rule-number-wrapper {
            display: flex;
            gap: 2rem;
            align-self: flex-start;
            align-items: center;
        }

        .rule__text {
            align-self: flex-start;
        }
    }
}