#manage-sponsors-page {
    padding-block: var(--main-block-padding) 8rem;

    & .manage-sponsors__title {
        text-align: center;
    }

    & .sponsors {
        gap: var(--gap);

        & .sponsor-wrapper {
            margin-bottom: 2rem;
            gap: var(--gap);
        }
    }

    & .manage-sponsors__add-link {
        position: fixed;
        bottom: 2rem;
    }
}

@media (max-width: 1000px) {
    #manage-sponsors-page {
        margin-inline: 0.5rem;

        & .manage-sponsors__title {
            font-size: 2.5rem;
        }
    }
}