#edit-discount-page {
    gap: var(--gap);
    padding-block: var(--main-block-padding);
    padding-inline: 0.5rem;

    & .edit-discount-page__title {
        text-align: center;
    }

    & .edit-discount-form {
        gap: var(--gap);

        & .input-wrapper {
            display: flex;
            flex-direction: column;
            gap: var(--small-gap);

            & label::after {
                content: "*";
            }
        }

        & .edit-discount-form__buttons {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 600px) {
    #edit-discount-page {
        & .edit-discount-form {
            & .edit-discount-form__buttons {
                flex-direction: column;
                gap: 2rem;
                align-items: center;
            }
        }
    }
}