#confirmationpage {
    font-size: 1.8rem;
    text-align: center;
    padding-block: var(--main-block-padding);

    & .confirmation__figure {
        margin-top: 10rem;
        width: 8rem;
        background-color: #10b223;  /** Set as global color instead **/
        border-radius: 100%;
        padding: 1rem;
    }

    & .confirmation__heading {
        font-weight: bold;
    }

    & .confirmation__button {
        width: 11rem;       /** Use global width instead **/
    }
}