#confirmationpage {
    font-size: 1.8rem;
    text-align: center;
    padding-block: var(--main-block-padding);

    & .confirmation__figure {
        margin-top: 10rem;
        width: 8rem;
        background-color: var(--success-col);
        border-radius: 100%;
        padding: 1rem;
    }

    & .confirmation__heading {
        font-weight: bold;
    }
}