#participantspage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    & .participants__title {
        margin-top: 5rem;
    }

    & .participants-list {
        width: 70%;

        & .participants-list__heading, .participants-list__row {
            display: flex;
            justify-content: space-between;
            border-radius: 15px;
            padding: 0.5rem 2rem;
            font-size: 2rem;
        }
    
        & .participants-list__heading {
            background-color: #7252e7;
            color: var(--white);
        }
    
        & .participants-list__row {
            margin: 1rem 0;
    
            & .participants-list__name {
                font-weight: bold;
            }
        }
    }

    & .participants-numbers {
        font-size: 48px;

        & .participants__confirmed {
            display: inline;
            color: var(--maincolor);
            font-size: 4rem;
            font-weight: 900;
        }
    }

    & .traino-funnel {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        & .traino-funnel__text {
            margin-bottom: 0.5rem;
        }
    }
}