#participantspage {
    margin-bottom: 5rem;

    & .participants__title {
        margin-top: 5rem;
    }

    & .participants-numbers {
        display: flex;
        font-size: 3rem;

        & .participants__total {
            align-self: flex-end;
        }

        & .participants__confirmed {
            display: inline;
            color: var(--maincolor);
            font-size: 4rem;
            font-weight: 900;
        }
    }

    & .traino-funnel {
        gap: var(--small-gap);

        & .traino-funnel__text {
            margin-bottom: 0.5rem;
        }
    }
}

@media (max-width: 600px) {
    #participantspage {
        & .participants-list {
            width: 90%;

            & .participants-list__row {
                font-size: 24px;
            }
        }
    }
}