#add-sponsor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    & .add-sponsor__title {
        margin-top: 5rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    & .add-sponsor-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .input-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            & label::after {
                content: "*";
            }
        }

        & .add-sponsor-form__buttons {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1000px) {
    #add-sponsor-page {
        margin-inline: 0.5rem;
    }
}

@media (max-width: 600px) {
    #add-sponsor-page {
        & .add-sponsor-form {
            & .add-sponsor-form__buttons {
                flex-direction: column;
                gap: 2rem;
                align-items: center;
            }
        }
    }
}