#eventfinishedpage {
    margin-bottom: var(--main-block-padding);
    position: relative;

    & .event-video-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & .event-video-gallery__title {
            text-align: center;
            margin: 2rem 0;
        }
    }
}
