#registerpage {
    margin-inline: auto;
    padding-block: var(--main-block-padding);
    width: 100%;

    & .register-form {
        gap: var(--gap);
        width: 80%;

        & .input-wrapper {
            display: flex;
            flex-direction: column;
            gap: var(--small-gap);

            & label:not(.radio-wrapper)::after,
            .gender-label::after {
                content: "*";
            }

            & .radio-wrapper {
                display: flex;
                gap: var(--small-gap);
                cursor: pointer;
                margin-right: 1rem;
            }

            .disabled {
                opacity: 0.5;
            }

            &.input-wrapper--radio {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: var(--small-gap);

                & .gender-label {
                    flex: 1 0 100%;
                }
            }

            & input[type="radio"] {
                display: none;

                &:checked ~ .radio-btn {
                    background-color: var(--mainpurple);
                }
            }

            & .radio-btn {
                width: 20px;
                height: 20px;
                border: 2px solid var(--maincolor);
                border-radius: 50%;
                position: relative;
                box-shadow: inset 0 0 0 2px white;
            }
        }

        & .register-form__submit {
            align-self: center;
            margin-top: 1rem;
        }
    }
}
