#participants-page {
    padding-block: var(--main-block-padding) 8rem;
    min-height: 100vh;

    & .participants-list {
        display: flex;
        flex-direction: column;
        gap: var(--small-gap);
        width: 100%;
        margin-top: 1rem;

        & .participants-list__headings,
        & .participants-item {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
        }

        & .participants-list__headings {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.267);
            background-color: var(--maincolor);
            color: var(--white);

        }

        & .participants-item {
            border: 1px solid rgba(128, 128, 128, 0.3);
            background-color: var(--white);
            transition: all 0.2s ease-out;

            &:nth-child(odd) {
                background-color: hsl(from var(--secondary-light-grey-alternative) h s l / 0.4);
            }

            &:hover {
                border-color: gray;
            }

            & .participants-wrapper {
                width: 55%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        & .mobile-heading,
        & .mobile-row {
            display: none;
        }
    }
}

.event-indicator {
    margin-bottom: 0;
}

@media (max-width: 1440px) {
    #participants-page {
        & .participants-page__title {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 800px) {
    #participants-page {
        & .participants-list {
            & .participants-list__headings {
                display: none;
            }

            & .mobile-row {
                display: contents;
                padding: 0.5rem 1rem;
                justify-content: center;
                font-weight: bold;
            }

            & .participants-item {
                flex-direction: column;

                & .list-row-wrapper {
                    display: block;
                    gap: 1rem;
                }

                & .participants-wrapper {
                    width: 100%;
                }
            }
        }
    }
}
