#admin-page {
    justify-content: center;
    margin-inline: auto;
    min-height: 100vh;
    padding-block: 3rem 9rem;
    width: 100%;

    & .events {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--large-gap) var(--gap);

        & .event-wrapper {
            gap: var(--gap);
            justify-content: space-between;
        }
    }

    & .admin-page__add-link {
        position: fixed;
        bottom: 2rem;
    }
}

@media (max-width: 1000px) {
    #admin-page {
        padding-inline: 1rem;

        & .admin-page__title {
            font-size: 2.5rem;
            text-align: center;
        }

        & .events {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}