#aboutpage {
    padding-block: var(--main-block-padding);
    margin-inline: auto;

    & .aboutpage-titles {
        text-align: center;
    }

    & .event-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);
        width: 100%;

        & .event-info__figure {
            display: flex;
        }
    }

    & .event-details-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--large-gap);

        & :is(.event-why, .event-for, .event-charity, .event-money) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--gap);
            align-items: flex-start;
            width: 100%;

            &
                :is(
                    .event-why__wrapper,
                    .event-for__wrapper,
                    .event-charity__wrapper,
                    .event-money__wrapper
                ) {
                display: flex;
                flex-direction: column;
                gap: var(--small-gap);
            }
        }

        & .event-money {
            & .event-money__list {
                margin-left: 2rem;

                & li {
                    list-style-type: circle;
                }
            }
        }
    }

    & .event-image-gallery {
        width: 100%;

        & .event-image-gallery__title {
            margin-bottom: 2rem;
        }
    }

    & .traino-funnel,
    & .volunteer {
        gap: var(--small-gap);
    }

    & .traino-funnel {
        & .traino-funnel__text {
            margin-bottom: 0.5rem;
        }
    }

    & .volunteer {
        width: 100%;
        border-radius: var(--big-radius);
        background: linear-gradient(45deg, #110637, #8468ea);
        padding: 6rem 10rem;
        color: var(--white);

        & .heading-size {
            padding-bottom: 3rem;
        }

        & .volunteer-form {
            max-width: 20rem;
            justify-content: center;
            gap: var(--gap);
            width: 80%;

            & .input-wrapper {
                width: 100%;
            }

            & input {
                border: none !important;
            }

            & label {
                font-weight: 500;
                display: block;
                margin-bottom: 0.5rem;

                &::after {
                    content: "*";
                }
            }

            & .volunteer-form__submit {
                align-self: flex-end;
            }
        }
    }

    & .separator {
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background: linear-gradient(to right, transparent, var(--maincolor), transparent);
    }
}

@media (max-width: 800px) {
    #aboutpage {
        width: 100%;

        & .event-info {
            grid-template-columns: repeat(1, 1fr);
        }

        & .event-details-wrapper {
            & :is(.event-why, .event-for, .event-charity, .event-money) {
                grid-template-columns: repeat(1, 1fr);
            }

            & .event-why {
                & .event-why__wrapper {
                    order: -1;
                }
            }

            & .event-charity {
                & .event-charity__wrapper {
                    order: -1;
                }
            }
        }

        & .traino-funnel {
            text-align: center;
        }

        & .volunteer {
            padding: 6rem 0.5rem;

            & .volunteer__title {
                text-align: center;
            }
        }
    }
}
