#aboutpage {
    padding-block: var(--main-block-padding);
    margin-inline: auto;

    & .aboutpage-titles {
        text-align: center;
    }

    & .event-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: var(--gap);
        width: 100%;

        & .event-info__figure {
            display: flex;
        }
    }

    & .event-image-gallery {
        width: 100%;

        & .event-image-gallery__title {
            margin-bottom: 2rem;
        }
    }

    & .traino-funnel,
    & .volunteer {
        gap: var(--small-gap);
    }

    & .traino-funnel {
        & .traino-funnel__text {
            margin-bottom: 0.5rem;
        }
    }

    & .volunteer {
        width: 100%;
        border-radius: var(--radius);
        background: linear-gradient(45deg, #110637, #8468ea);
        padding: 6rem 10rem;
        width: calc(100% - 4rem);
        color: var(--white);

        & .heading-size {
            padding-bottom: 3rem;
        }

        & .volunteer-form {
            max-width: 20rem;
            justify-content: center;
            gap: var(--gap);
            width: 80%;

            & .input-wrapper {
                width: 100%;
            }

            & input {
                border: none !important;
            }

            & label {
                font-weight: 500;
                display: block;
                margin-bottom: 0.5rem;

                &::after {
                    content: "*";
                }
            }

            & .volunteer-form__submit {
                align-self: flex-end;
            }
        }
    }
}

@media (max-width: 1000px) {
    #aboutpage {
        margin-inline: 0.5rem;
    }
}
