#alleventspage {
    min-height: 100vh;
    margin-inline: auto;
    width: 100%;
    padding-bottom: 6rem;

    & .alleventspage__logo {
        margin: 10rem 0;
        width: revert-layer;
    }

    & .alleventspage__events {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--large-gap) var(--gap);
    }
}

@media (max-width: 1000px) {
    #alleventspage {
        padding-inline: 1rem;

        & .alleventspage__logo {
            margin: 5rem 0;
            width: 20rem;
        }

        & .alleventspage__events {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}