#alleventspage {
    min-height: 100vh;
    margin-inline: auto;
    width: 100%;
    padding-bottom: 6rem;

    & .alleventspage__logo {
        margin: 2rem 0;
        width: revert-layer;
        max-width: 16rem;
        margin-right: 1rem;
    }

    & .alleventspage__events {
        padding: 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--large-gap) var(--gap);
    }
}

.logo {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .logo {
        scale: 0.6;
        height: 6rem;
    }
    #alleventspage {
        padding-inline: 1rem;

        & .alleventspage__logo {
            margin: 5rem 0;
            width: 20rem;
        }

        & .alleventspage__events {
            padding: 0;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
